@font-face {
    font-family: "Beleren";
    src: url("/assets/fonts/beleren-bold_P1.01.ttf") format("truetype");
}

@font-face {
    font-family: "Beleren Small Caps";
    src: url("/assets/fonts/belerensmallcaps-bold.ttf") format("truetype");
}

@font-face {
    font-family: "MPlantin";
    src: url("/assets/fonts/mplantin.eot") format("eot"),
        url("/assets/fonts/mplantin.woff") format("woff"),
        url("/assets/fonts/mplantin.ttf") format("truetype");
}

@font-face {
    font-family: "MPlantin-Italic";
    src: url("/assets/fonts/MPlantin-Italic.ttf") format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "Relay Medium";
    src: url("/assets/fonts/relay-medium.ttf") format("truetype");
}

@font-face {
    font-family: "Relay Wide Medium";
    src: url("/assets/fonts/relaywide-medium.ttf") format("truetype");
}

@font-face {
    font-family: "NDPMTG";
    src: url("/assets/fonts/NDPMTG.ttf") format("truetype");
}

.mtg-card {
    position: relative;
    width: 63.5mm;
    height: 88.9mm;
    border-radius: 3mm;
    padding: 2.25mm;
    background-color: black;

    font-family: Beleren;
    font-size: 3mm;
    text-rendering: geometricPrecision;

    box-sizing: border-box;
}





.has-legendary-crown .inner-background {
    background-position: 0 -1.3mm;
    margin-top: 1.3mm;
}

.has-legendary-crown .inner-frame {
    filter: drop-shadow(-0.25mm 0.25mm 0.15mm black);
}

.extended-art .legendary-crown,
.full-art .legendary-crown {
    top: 1.2mm;
}

.name {
    font-size: 9.454pt;
    white-space: nowrap;
    letter-spacing: 0.034mm;
}

.original-name-container {
    position: absolute;
    bottom: -0.05mm;
    left: 50%;
    transform: translateX(-50%);
    width: 54mm;
}

.original-name-bg {
    position: absolute;
}



.original-name {
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 2.1mm;
    letter-spacing: 0.1mm;
    font-family: MPlatin-Italtic;
    font-style: italic;
    line-height: 3.1mm;
    text-align: center;
}

.mana-cost {
    font-size: 6.4pt;
    display: flex;
    gap: 0.24mm;
    margin-top: -0.4mm;
}

.mana-cost .ms,
.adventure-mana-cost .ms {
    width: 1.35em;
    border-radius: 50%;
    box-shadow: -0.2mm 0.2mm 0 rgba(0, 0, 0, 0.85);
}


.mtg-card:not(.full-art):not(.extended-art):not(.compasslanddfc.back) .illustration {
    box-shadow: inset 0.2mm -0.2mm 0.2mm black;
}

.extended-art .illustration {
    left: 0;
    top: 7mm;
    width: 100%;
    height: 48mm;
    background-color: black;
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 1) 6%,
            rgba(0, 0, 0, 1) 94%,
            rgba(0, 0, 0, 0) 100%);
}



.color-indicator {
    width: 2.8mm;
    margin-left: -0.5mm;
}

.type-line {
    font-size: 8pt;
    flex-grow: 1;
    white-space: nowrap;
    margin-top: -0.2mm;
}

.set-icon-container {
    height: 3.9mm;
    width: 7mm;
    margin-right: 0.3mm;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: -0.2mm;
}

.set-icon {
    max-height: 100%;
    max-width: 100%;
}

.oracle {
    font-family: MPlantin;
    font-size: 8pt;
    line-height: 1em;

    pointer-events: initial;
    user-select: initial;
}

.oracle:deep(.ms) {
    width: 0.8em;
    margin: 0 0.07em;
    vertical-align: baseline;
}

.normal-oracle {
    position: absolute;
    top: 55.6mm;
    left: 0;
    right: 0;

    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 0.8mm;

    width: 53.8mm;
    height: 26mm;
    margin: auto;
}

.levelup-oracle {
    display: flex;
    flex-direction: column;
    gap: 0;

    left: 0mm;
    width: 54.6mm;
}

.oracle-levelup-inner {
    position: relative;
    min-height: 2em;

    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 0.8mm;

    flex-basis: 33%;
    flex-grow: 1;
}

.oracle-levelup-inner .level-box {
    position: absolute;
    left: -1.6mm;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Beleren;

    padding: 1mm;
    padding-top: 1.2mm;
    padding-left: 1.6mm;
    gap: 0.2mm;
}

.oracle-levelup-inner .level-box div:nth-child(2) {
    text-transform: uppercase;
    font-size: 1.5mm;
    height: 1.6mm;
}

.oracle-levelup-inner .oracle-text.has-level {
    margin-left: 7mm;
}

.oracle-levelup-inner .oracle-text.has-pt {
    margin-right: 9mm;
}

.oracle-levelup-inner .pt-box {
    position: absolute;
    right: -1.6mm;
    top: 50%;
    transform: translateY(calc(-50% + 0.2mm));
}

/* Ignore naturally overflowing elements when scaling text */
.fitting .oracle-levelup-inner .level-box,
.fitting .oracle-levelup-inner .pt-box {
    display: none;
}

/* Workaround the fact that adventure frames have a sligthly larger ratio */
.adventure .inner-frame {
    width: 57.4mm;
    left: 2.9mm;
}

.adventure .mid-line {
    top: 49.7mm;
}

.adventure-main-oracle {
    position: absolute;
    top: 54.9mm;
    left: 33mm;
    width: 25.5mm;
    height: 25mm;

    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 0.8mm;
}

.adventure-part {
    position: absolute;
    top: 55.3mm;
    left: 5mm;
    width: 26mm;
    height: 25.2mm;

    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.adventure-top-line,
.adventure-type {
    color: white;
    height: 4.2mm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 7pt;
    line-height: 7pt;
    flex-shrink: 0;
    margin-left: 0.6mm;
}

.adventure-mana-cost {
    display: flex;
    font-size: 5pt;
    gap: 0.3mm;
    margin-top: -0.4mm;
    margin-right: 0.5mm;
}

.adventure-oracle {
    flex-grow: 1;
    margin: 0.8mm 0 0.2mm 0;

    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 0.8mm;

    font-family: MPlantin;
    font-size: 8pt;
    line-height: 1em;

    pointer-events: initial;
    user-select: initial;
}

/* Planeswalkers */

.planeswalker .inner-frame {
    top: 2.36mm;
    left: 3mm;
    width: calc(58mm - 2px);
    height: 80mm;
}

.planeswalker .top-line,
.planeswalker .mid-line {
    width: 53.75mm;
}

.planeswalker .top-line {
    top: 3mm;
}

.planeswalker .mid-line {
    top: 49.6mm;
}

.planeswalker-large .mid-line {
    top: 43.6mm;
}

.planeswalker .illustration {
    position: absolute;
    left: 4mm;
    top: 8.2mm;
    width: 55mm;
    height: 39mm;
    /*border-radius: 2mm/50%;*/
}

.planeswalker .illustration.behind-textbox {
    background-color: white;
    height: 73mm;
    z-index: -1;
}

.planeswalker.extended-art .illustration.behind-textbox {
    top: 6mm;
    height: 75mm;
    mask-image: linear-gradient(rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 1) 3%,
            rgba(0, 0, 0, 1) 97%,
            rgba(0, 0, 0, 0) 100%);
    left: 0;
    right: 0;
    width: 100%;
}

.planeswalker:not(.full-art):not(.extended-art) .illustration.behind-textbox {
    border-radius: 2mm / calc(39mm / 2);
    border-bottom-left-radius: 4mm 3mm;
    border-bottom-right-radius: 2mm;
}

.planeswalker.extended-art .illustration,
.planeswalker.full-art .illustration {
    z-index: auto;
}

.planeswalker.full-art .illustration,
.full-art .illustration {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: initial;
}

.planeswalker-oracle-bg {
    position: absolute;
    left: 7.4mm;
    top: 55.6mm;
    width: 51.2mm;
    height: 25.35mm;
    background-color: #ffffff90;
    border-radius: 0.9mm;
    border-bottom-left-radius: 8mm 2.1mm;
    border-bottom-right-radius: 8mm 2.1mm;
    box-shadow: inset -0.2mm -0.2mm 0.2mm #00000080,
        inset 0.2mm 0.2mm 0.2mm #00000080;
}

.planeswalker-large .planeswalker-oracle-bg {
    top: 49.5mm;
    height: 31.45mm;
}

.planeswalker-oracle {
    position: absolute;
    left: 2.8mm;
    top: 55.7mm;

    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 0.4mm;

    width: 49.5mm;
    height: 24mm;

    padding: 0.5mm;
    padding-left: 5.5mm;
    padding-bottom: 1mm;
}

.planeswalker-large .planeswalker-oracle {
    top: 49mm;
    height: 31.04mm;
}

.planeswalker-ability {
    position: relative;
    flex-shrink: 0;
    padding: 0.4mm 0.4em;
    z-index: 0;
}

.planeswalker-ability:nth-child(2n + 1):before {
    content: "";
    position: absolute;
    left: -0.6mm;
    right: -0.6mm;
    top: -1.2mm;
    bottom: -1.2mm;
    background-color: #fff6;
    mask-image: linear-gradient(transparent,
            transparent 1.2mm,
            black 1.2mm,
            black calc(100% - 1.2mm),
            transparent calc(100% - 1.2mm),
            transparent),
        url("/assets/img/planeswalker_ability_top.webp"),
        url("/assets/img/planeswalker_ability_bottom.webp");
    mask-size: 100%, 100%, 100%;
    mask-position: 0 0, 0 0, 0 100%;
    mask-repeat: repeat-x;
    mask-composite: add;
    z-index: -1;
}

.planeswalker-ability-with-cost:nth-child(2n + 1):before {
    left: -3.1mm;
    right: -0.6mm;
}

.planeswalker-ability:nth-child(1):before {
    border-top-left-radius: 1mm;
    border-top-right-radius: 1mm;
    mask-image: linear-gradient(black calc(100% - 1.2mm),
            transparent calc(100% - 1.2mm),
            transparent),
        url("/assets/img/planeswalker_ability_bottom.webp");
    mask-size: 100%, 100%;
    mask-position: 0 0, 0 100%;
    mask-composite: add;
    top: -0.1mm;
}

.planeswalker:not(.planeswalker-large) .planeswalker-ability:nth-child(3):before {
    mask-image: linear-gradient(transparent, transparent 1.2mm, black 1.2mm),
        url("/assets/img/planeswalker_ability_top.webp");
    mask-size: 100%, 100%;
    mask-position: 0 0, 0 0;
    bottom: -1mm;
    border-bottom-left-radius: 10mm 2mm;
}

.planeswalker-ability-with-cost {
    margin-left: 2.5mm;
    min-height: 4.8mm;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 0.4mm 0;
}

.planeswalker-ability-cost {
    position: absolute;
    left: -8.5mm;
    top: 50%;
    transform: translateY(-50%);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 7mm;
    color: white;
    font-size: 7pt;
    text-align: center;
    font-family: Beleren;
}

.planeswalker-ability-cost-plus {
    background-image: url("/assets/img/planeswalker/LoyaltyPlus.webp");
    height: 4.7mm;
    line-height: 5mm;
}

.planeswalker-ability-cost-zero {
    background-image: url("/assets/img/planeswalker/LoyaltyZero.webp");
    height: 4.2mm;
    line-height: 3.8mm;
}

.planeswalker-ability-cost-minus {
    background-image: url("/assets/img/planeswalker/LoyaltyMinus.webp");
    height: 4.7mm;
    line-height: 3.8mm;
}

.planeswalker-ability-cost::after {
    content: ":";
    position: absolute;
    right: -0.7mm;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    font-family: MPlantin;
    font-size: 8pt;
}

.planeswalker-ability-cost-minus::after {
    top: 1.7mm;
}

.planeswalker-ability-cost-zero::after {
    top: 1.7mm;
}

.planeswalker .footer {
    top: 83mm;
}

.oracle-inner,
.oracle-flavor,
.oracle-reminder {
    margin: 0 0.44mm;
}

.class-oracle hr,
.oracle-flavor hr {
    border: 0;
    height: 0.25mm;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.2) 20%,
            rgba(0, 0, 0, 0.2) 80%,
            rgba(0, 0, 0, 0));
    margin-top: 0.2mm;
    margin-bottom: 0.8mm;
}

.oracle-flavor,
:deep(.oracle-reminder) {
    font-family: MPlantin-Italic;
    font-style: italic;
}



.loyalty {
    position: absolute;
    right: 3mm;
    bottom: 5mm;
    width: 9.8mm;
    height: 5.8mm;
    background-image: url("/assets/img/planeswalker/Loyalty.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    text-align: center;
    line-height: 6.4mm;
    font-size: 9.5pt;
    color: white;

    pointer-events: initial;
    user-select: initial;
    z-index: 3;
}


.collector-number {
    letter-spacing: 0.2mm;
}

.copyright {
    font-family: MPlantin;
    margin-top: 0.2mm;
    /* FIXME: Workaround a weird upshift using this font */
    font-size: 4pt;
}

.copyright div {
    min-height: 2mm;
}

.set {
    letter-spacing: 0.23mm;
}

.language {
    letter-spacing: 0.15mm;
}

.artist-icon {
    font-family: NDPMTG;
}

.artist-name {
    font-family: Beleren Small Caps;
    font-size: 4.5pt;
}

.flip-icon {
    position: absolute;
    bottom: -12mm;
    left: 50%;
    font-size: 10mm;
    user-select: none;
    cursor: pointer;
    transform: translateX(-50%) rotateX(60deg);
}

.mdfc:not(.planeswalker) .inner-frame {
    width: 58.8mm;
    left: 1.6mm;
}

.mdfc .top-line .name {
    padding-left: 5mm;
}

.mdfc.legendary:not(.planeswalker) .inner-frame {
    /* Workdaround to hide frame behind the legendary crown */
    border-top-left-radius: 10mm;
}

.mdfc .normal-oracle {
    height: 22.6mm;
    left: 0;
}

.mdfc .planeswalker-oracle {
    height: 22mm;
}

.mdfc.planeswalker-large .planeswalker-oracle {
    height: 29mm;
}



.planeswalker .mdfc-icon {
    top: 3mm;
}



.planeswalker .mdfc-hint {
    bottom: 6mm;
}

.mdfc-hint span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
    max-width: 20mm;
}

.mdfc-hint .mana-cost {
    font-size: 4pt;
}

/* Transform */

.transform:not(.back):not(.planeswalker) .inner-frame {
    left: 2.9mm;
    width: 58.5mm;
}

.transform:not(.planeswalker) .inner-frame {
    top: 3.7mm;
    left: 2.9mm;
    width: 57.4mm;
    height: 78.1mm;
    background-size: 100% 100%;
}

.transform:not(.planeswalker) .top-line {
    top: 4.2mm;
}

.transform .top-line .name {
    padding-left: 5.2mm;
}



.planeswalker .transform-icon {
    top: 3mm;
}

.transform-hint {
    position: absolute;
    bottom: 11.2mm;
    right: 5.2mm;
    z-index: 3;
    font-family: Beleren;
    font-size: 6.8pt;
    color: #666;
}

/* Ixalan maps */

.compasslanddfc.back .inner-frame {
    background-image: none;
    filter: none;
}

.compasslanddfc.back .name {
    font-family: Beleren Small Caps;
    padding: 0;
    margin: 0;
}

.compasslanddfc.back .illustration {
    top: 9.2mm;
    left: 3mm;
    right: 3mm;
    width: auto;
    height: 40mm;
    z-index: -1;
}

.compasslanddfc.back .top-line,
.compasslanddfc.back .mid-line {
    background-image: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: black;
    left: 0;
    right: 0;
    width: 100%;
}

.compasslanddfc.back .top-line {
    top: 3.5mm;
}

.compasslanddfc.back .type-line {
    text-align: center;
}

.compasslanddfc.back .oracle {
    top: 55.9mm;
    left: 7mm;
    right: 7.6mm;
    bottom: 10mm;
    width: auto;
    height: auto;
}

.compasslanddfc.back .set-icon-container {
    position: absolute;
    top: -40.8mm;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
}

.compasslanddfc.back .transform-icon {
    display: none;
    /* Embeded in the background */
}


.archive .inner-frame svg {
    width: 100%;
}

.archive .top-line,
.archive .mid-line,
.archive .oracle {
    background-image: none;
    color: #222;
}

.archive .top-line .mana-cost .ms {
    width: 3.6mm;
    opacity: 0.8;
}

.archive .top-line .mana-cost .ms-shadow,
.japanese-archive .top-line .mana-cost .ms-shadow {
    box-shadow: initial;
}

/* Japanse Mystical Archive */

.japanese-archive .inner-frame,
.japanese-archive .top-line,
.japanese-archive .mid-line {
    background-image: none;
}

.japanese-archive .legendary-crown {
    display: none;
}


.japanese-archive .set-icon-container {
    position: absolute;
    right: 0;
}




/* Debug */

.debug-overlay:hover {
    opacity: 1;
}

.debug-overlay>div {
    overflow: hidden;
    position: relative;
    pointer-events: none;
}

.debug-overlay>div:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0.5px;
    height: 100%;
    background-color: #0008;
}

.debug-overlay>div>img {
    width: 63.5mm;
}

.debug-controls {
    position: absolute;
    bottom: -4em;
}

.gold {
    fill: #f5d54e;
}



.background-feature {
    fill: transparent;
    stroke: #cfac58;
    stroke-width: 0.07;
    opacity: 0.6;
}

.top-feature {
    fill: transparent;
    stroke: #000000;
    stroke-width: 0.03;
    opacity: 0.1;
}

.primary-color {
    fill: var(--primary, #0e3d95);
}

.lighter-color {
    fill: var(--lighter, #125faf);
}

.darker-color {
    fill: var(--darker, #13316d);
}

.primary-left-color {
    fill: var(--left-primary, #0e3d95);
}

.lighter-left-color {
    fill: var(--left-lighter, #125faf);
}

.darker-left-color {
    fill: var(--left-darker, #13316d);
}

.primary-right-color {
    fill: var(--right-primary, #0e3d95);
}

.lighter-right-color {
    fill: var(--right-lighter, #125faf);
}

.darker-right-color {
    fill: var(--right-darker, #13316d);
}

.oracle .level-header .ms {
    vertical-align: middle;
}

