html {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;

	background-color: #77a0a8;
	background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
}

body {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Inconsolata";
	src: url("/assets/fonts/Ligconsolata-Regular.ttf") format("truetype");
}

a,
a:visited,
button,
.clickable {
	cursor: pointer;
}

a,
a:visited {
	color: #334850;
	text-decoration: none;
}

a:hover {
	color: #7398a0;
}

input,
textarea,
button,
select {
	border: 2px solid #9fb5bb;
	border-radius: 0.4em;
	margin: 0.1em;
	padding: 0.1em 0.3em 0.2em 0.3em;
	background: #e2f0f3;
}

input[type="button"],
button {
	color: white;
	background: #6c9ba5;
	border: 2px solid #80b6c2;
	box-shadow: 1px 1px 1px #000000;
	transition: border 0.1s ease;
	padding: 0.2em 0.6em 0.2em 0.6em;
}

input[type="button"]:hover,
button:hover {
	border: 2px solid #9acfda;
}

input[type="button"]:active,
button:active,
.clickable {
	transform: translateY(2px);
	box-shadow: initial;
}

textarea {
	font-family: Inconsolata;
}

.large-textarea {
	width: 100%;
	box-sizing: border-box;
}

.shortcut {
	color: rgb(214, 214, 214);
	font-size: 0.8em;
	margin-left: 0.4em;
}

@font-face {
	font-family: "Beleren Small Caps";
	src: url("/assets/fonts/belerensmallcaps-bold.ttf") format("truetype");
}

.app {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2em;
	padding: 1em 2em;
	background-image: linear-gradient(#6e939be0 80%, transparent);
	color: white;
}

.header a,
.header a:visited {
	color: #ace4f1;
	text-decoration: none;
}

.header a:hover {
	color: #d0f6ff;
}

.header h1 {
	margin: 0;
	font-family: Beleren Small Caps;
}

.menu {
	display: flex;
	gap: 1em;
	margin: 0.5em;
	position: relative;
	flex-grow: 1;
}

.card-name-autocomplete {
	position: absolute;
	top: calc(100% + 0.2em);
	left: 0;
	min-width: 100%;
	z-index: 1;
	background-color: white;
	border-radius: 0.5em;
	padding: 0;
}

.card-name-autocomplete ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.card-name-autocomplete li {
	padding: 0.2em 0.4em;
	cursor: pointer;
	color: #425155
}

.card-name-autocomplete li:first-child {
	border-radius: 0.5em 0.5em 0 0;
}

.card-name-autocomplete li:last-child {
	border-radius: 0 0 0.5em 0.5em;
}

.card-name-autocomplete li:focus-visible,
.card-name-autocomplete li:hover {
	background-color: lightblue;
}

.content {
	flex-grow: 1;
	display: flex;
	gap: 1em;
	margin: 1em 2em;
	justify-content: space-between;
}



.tabs {
	display: flex;
	gap: 0.4em;
	user-select: none;
}

.tab {
	background-color: #ffffff50;
	box-shadow: inset 0 -4px 4px #00000018;
	color: #596669;
	border-radius: 0.5em 0.5em 0 0;
	padding: 0.2em 0.8em 0.2em 0.8em;
	cursor: pointer;
	font-weight: 900;
}

.dual-face-editor {
	display: flex;
	gap: 1em;
}

.selected-tab {
	background-color: #ffffff80;
	color: #000000;
	box-shadow: initial;
}

.inner-tab {
	background-color: #ffffff80;
	padding: 0.5em;
	border-radius: 0 0.5em 0.5em 0.5em;
}



.card-info h2 {
	margin: 0.2em 0.4em;
}

.card-info label {
	display: inline-block;
	width: 8em;
}

.card-info input[type="text"] {
	width: 19em;
}

.card-info input.small-input {
	width: 3em;
}

.card-info .subsection {
	padding-bottom: 0.25em;
}

.card-info .subsection h3 {
	margin: 0;
}

.card-info .subsection div {
	margin-left: 1em;
}

.card-info .help {
	position: relative;
	font-size: 0.7em;
	padding: 0.25em;
	background-color: rgb(209, 233, 255);
	border-radius: 0.25em;
}

.card-info .help::before {
	content: "🛈";
	position: absolute;
	left: -1em;
	top: 50%;
	transform: translateY(-50%);
}

/* Disabled for now
.mtg-card:not(.rendering) * {
	transition: outline-offset 0.2s, outline-color 0.2s;
	outline-color: transparent;
	outline-offset: 20px;
}

.mtg-card:not(.rendering) .outlined-over,
.mtg-card:not(.rendering) .outlined-focus {
	outline: red 1px dashed;
	outline-offset: 0;
}
*/
